* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css?family=Mystery+Quest");



body {
    font-family: "Mystery Quest", cursive;
    font-size: 150%;
    background: url("imagenes/fondo.jpg");
background-repeat:no-repeat;
background-position:center;
        background-size: cover;

}


.cabecera {
    text-align: center;
    color: #AA4411;

}


.contenedor {
    padding: 10px 300px 0px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.grid {
    margin-top: 20px;
    display: grid;
    align-items: stretch;
    justify-items: center;
    border: 1px solid #000;

}

.grid.nivel1 {
    grid-template-columns: 100px 100px 100px 100px ;
}

.grid.nivel2 {
    grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
}

.grid.nivel1 .carta {
    height: 100px;
    width: 100px;
}

.grid.nivel2 .carta {
    height: 50px;
    width: 50px;
}

.grid .carta {
    background-color: aliceblue;

    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon-objetivo {
    height: 200px;
    width: 200px;
}